snippet cocktailing
[Episode Description]

---

* [Ingredient 1]

[Steps]

---

__Photos by Lisa Denkinger__

[See photo]()

[See photo]()

[Supporting Link]()

---

[Rate Cocktailing on iTunes](https://itunes.apple.com/us/podcast/cocktailing/id1084161541)

Off to Osaka Kevin MacLeod (incompetech.com)
Licensed under Creative Commons: By Attribution 3.0 License
http://creativecommons.org/licenses/by/3.0/

endsnippet
